.page {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 6fr;
    color: rgb(239, 141, 59);
    /* color: #3B9DEF; */
}

.page main {
    display: grid;
    grid-template-rows: 5fr 2fr;
}